@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "EditTestimonial";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Referans Düzenleme Paneli </p>
            <form asp-action="EditTestimonial">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TestimonialID" />
                <input type="hidden" asp-for="ImageUrl" />
                <div class="form-group">
                    <label asp-for="ClientName" class="control-label">Adı Soyadı</label>
                    <input asp-for="ClientName" class="form-control" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label">Şirket</label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Başlık</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label">Yorum</label>
                    <textarea rows="6" asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <button type="submit" value="Kaydet" class="btn btn-outline-primary">Kaydet</button>
                <button asp-action="Index" class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>


