@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-description"> Proje Ekleme Paneli </h4>
            <hr />
            <form asp-action="AddPortfolio">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Proje Başlığı</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Görsel1</label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl2" class="control-label">Görsel2</label>
                    <input type="file" asp-for="ImageUrl2" class="form-control" />
                    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PorjectUrl" class="control-label">Proje URL</label>
                    <input asp-for="PorjectUrl" class="form-control" />
                    <span asp-validation-for="PorjectUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Fiyat</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label">Tamamlanma Oranı</label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

