@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-description"> Proje Düzenleme Paneli </h4>
            <hr />
            <form asp-action="EditPortfolio" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PortfolioID" />
                <input type="hidden" asp-for="ImageUrl2" />
                <input type="hidden" asp-for="ImageUrl" />
                <input type="hidden" asp-for="Platform" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PorjectUrl" class="control-label"></label>
                    <input asp-for="PorjectUrl" class="form-control" />
                    <span asp-validation-for="PorjectUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl2" class="control-label"></label>
                    <input type="file" asp-for="ImageUrl2" class="form-control" />
                    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

